body{
    background-color: #9a9a9a;
}

#main-content{
    background-color: #2d2d2d;
    border: 2px solid #cecece;
    color: #cecece;
    border-radius: 4px;
    width: 30em;
    margin: auto;
    padding: 1em;
}

#main-content.spinning{
    animation-name: spin;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

#header-text{
    text-align: center;
    margin: 0;
    padding: 0;
}

#status-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1em;
}

#progress-container{
    text-align: center;
}

#progress-container #progress-container-header{
    margin-bottom: 0;
}

#progress-container #progress-bar{
    width: 100%;
}

#progress-container #control-button{
    padding-left: 1em;
    padding-right: 1em;
    margin-top: 1em;
}

#console{
    width: 100%;
    height: 500px;
    margin-top: 1em;
    border-radius: 4px;
    border: 2px solid #cecece;
    overflow-y: auto;
}

#console .console-message{
    padding: 0.25em 0.5em;
    border-bottom: 1px solid #cecece;
}

#command-wrapper{
    display: flex;
    flex-direction: row;
    margin-top: 1em;
}

#command-wrapper #console-input{
    flex-grow: 1;
}

.red{
    color: #ff0000;
}

.green{
    color: #008000;
}

#cookie-message{
    display: none;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    left: 0;
    line-height: 2rem;
    border-top: 1px solid #c3c3c3;
    background-color: #2d2d2d;
    color: #c3c3c3;
    width: 100%;
}

#cookie-message:hover{
    cursor: pointer;
}

#cookie-message span{
    padding: 0 0.5rem;
}

@keyframes spin{
    from{
        transform: rotate(0deg);
    }

    to{
        transform: rotate(360deg);
    }
}