#motivational-video-container{
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: #000000;
    animation-name: slide-in-from-bottom;
    animation-duration: 2.5s;
}

#motivational-video-close-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #000000;
    color: #ffffff;
    padding: 0.5rem 1rem;
}

#motivational-video-close-bar button{
    border: none;
    background-color: #d3d3d3;
}

#fate-container{
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    border-right: 2px solid #cecece;
    border-bottom: 2px solid #cecece;
    border-bottom-right-radius: 4px;
    background-color: #2b2b2b;
    animation-name: slide-in-from-left;
    animation-duration: 1.5s;
    color: #cecece;
    max-width: 275px;
}

#fate-container h2{
    margin: 0.5rem 1rem;
    text-align: center;
}

#fate-container #fate-explanation{
    font-size: 0.8rem;
    margin-bottom: 1rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

#fate-container .fate-option{
    border-top: 1px solid #cecece;
    font-size: 1.2rem;
    padding: 0.5rem;
    font-weight: bold;
}

#fate-container .fate-option:hover{
    background-color: #484646;
    cursor: pointer;
}

#fate-container .fate-description{
    font-size: 0.9rem;
    font-weight: normal;
}

@keyframes slide-in-from-bottom{
    from{
        bottom: -500px;
    }

    to{
        bottom: 0;
    }
}

@keyframes slide-in-from-top{
    from{
        top: -500px;
    }

    to{
        top: 0;
    }
}

@keyframes slide-in-from-left{
    from{
        left: -500px;
    }

    to{
        left: 0;
    }
}

@keyframes slide-out-from-left {
    from{
        left: 0;
    }

    to{
        left: -500px;
    }
}