#motivational-video-container{
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: #000000;
    animation-name: slide-in-from-bottom;
    animation-duration: 2.5s;
}

#motivational-video-close-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #000000;
    color: #ffffff;
    padding: 0.5rem 1rem;
}

#motivational-video-close-bar button{
    border: none;
    background-color: #d3d3d3;
}

@keyframes slide-in-from-bottom{
    from{
        bottom: -500px;
    }

    to{
        bottom: 0;
    }
}

@keyframes slide-in-from-top{
    from{
        top: -500px;
    }

    to{
        top: 0;
    }
}

@keyframes slide-in-from-left{
    from{
        left: -500px;
    }

    to{
        left: 0;
    }
}

@keyframes slide-out-from-left {
    from{
        left: 0;
    }

    to{
        left: -500px;
    }
}