#motivational-video-container{
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: #000000;
    animation-name: slide-in-from-bottom;
    animation-duration: 2.5s;
}

#motivational-video-close-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #000000;
    color: #ffffff;
    padding: 0.5rem 1rem;
}

#motivational-video-close-bar button{
    border: none;
    background-color: #d3d3d3;
}

@keyframes slide-in-from-bottom{
    from{
        bottom: -500px;
    }

    to{
        bottom: 0;
    }
}

@keyframes slide-in-from-top{
    from{
        top: -500px;
    }

    to{
        top: 0;
    }
}

@keyframes slide-in-from-left{
    from{
        left: -500px;
    }

    to{
        left: 0;
    }
}

@keyframes slide-out-from-left{
    from{
        left: 0;
    }

    to{
        left: -500px;
    }
}

body.geocities{
    background: url("https://c.tenor.com/IvyuPtEfzhoAAAAC/matrix.gif");
    background-repeat: repeat;
}

body.geocities #main-content{
    background-color: rgba(0, 0, 0, 0.7);
    border: 3px solid #135b13;
    border-radius: 0;
    background-image: url('https://media.tenor.com/HJYpC1p52ocAAAAd/dance-slide.gif');
    background-position: bottom;
    background-repeat: no-repeat;
}

body.geocities #console{
    border: 3px solid #135b13;
    border-radius: 0;
}

body.geocities #netscape, body.geocities #fairy, body.geocities #baby, body.geocities #dolphin-left, body.geocities #dolphin-right{
    display: unset;
}

#netscape{
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 80px;
}

#fairy{
    display: none;
    position: absolute;
    bottom: 0;
    right: 0;
}

#baby{
    display: none;
    position: absolute;
    top: -100px;
    left: 0;

    animation-name: baby-bounce;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

#dolphin-left{
    display: none;
    position: absolute;
    top: 0;
    right: 0;
}

#dolphin-right{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
}

@keyframes baby-bounce {
    0%{
        top: unset;
        bottom: 0;
        left: 250px;
        right: unset;
    }

    50%{
        top: unset;
        bottom: 0;
        left: 650px;
        right: unset;
    }

    100%{
        top: unset;
        bottom: 0;
        left: 250px;
        right: unset;
    }
}

#visitor-count-wrapper{
    display: none;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 1rem;
}

#visitor-count{
    border-image: linear-gradient(#89e34f, #4b9a10) 30;
    border-width: 10px;
    border-style: solid;
    color: #ffffff;
    font-family: Consolas, sans-serif;
}

body.geocities #visitor-count-wrapper{
    display: flex;
}